  SELECT * FROM [NServiceBus].[dbo].[CustomerRelations_GoldCustomerPolicy]
  SELECT * FROM [NServiceBus].[dbo].[CustomerRelations_OfferDiscountForRepeatCustomersSaga]
  SELECT * FROM [NServiceBus].[dbo].[Sales_BuyersRemorsePolicy]

  /*
  DELETE FROM [NServiceBus].[dbo].[CustomerRelations_GoldCustomerPolicy]
  DELETE FROM [NServiceBus].[dbo].[CustomerRelations_OfferDiscountForRepeatCustomersSaga]
  DELETE FROM [NServiceBus].[dbo].[Sales_BuyersRemorsePolicy]
  */